.cardpost
  display: flex
  margin-top: 20px
  flex-direction: revert
  justify-items: center
  position: relative
  height: 150px
  .imgpost
    display: flex
    justify-items: center
    justify-content: space-around
    position: relative
    width: 30%
    .imgcardpost
      position: absolute
      margin-top: 7%
      margin-left: 5% 
      height: 120px
.btn-userpost
  margin-top: 10px
  display: flex
  justify-content: space-around
  align-items: center
     