@import './../../styles/variable'
.cartform
    margin-top: 50px
.ErrorIvalidate
    color: #c70a0a
.SignInPage
  min-height: $minheight
  display: flex
  justify-content: space-around
  align-items: center