.page-footer
  background-color: #007bff
  color: white
  margin-top:50px 
  .bodyfooter
    display: flex
    justify-content: space-around
    align-items: center
    color: white
  .endfooter
    background-color: #0458b1