.navigation

    z-index: 100
    width: 100%
    position: fixed
    top: 0

.btn_user
    border-radius: 100%
    width: 40px
    height: 40px
#menu
    position: fixed
    right: 5px
    margin-top: 60px
    display: block
    background-color: #e0dbdb
    width: 250px
    z-index: 10
    border: 100px
    line-height: 40px